
.login-body{
    background-color:#E4E4E4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}

 .login-logo{
    height: 170px;
    width: 170px;
    max-width: 100%; 
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 60px;
    width: 280px;
    height: 320px;
    gap: 28px;
    
}


.login-input{
    background-color: #f0f0f0;
    width: 280px;
    height: 20px;
   
    
}

.login-submit-button{
    background-color:#D91E1E;
    cursor: pointer;
    margin-top: 18px;
    width: 280px;
    
}

 .login-input, .login-submit-button{
    border-style: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    
 }
 .login-input:focus{
    outline: none;
    border:2px solid #D91E1E;
 }

.login-submit-button:hover{
    transform: scale(1.05);
}
.login-error-message{
    color: #D91E1E;
    font-size: 12px;
}
.login-link-cadastro{
    color: #D91E1E;
    
}
