.slide-container {
    width: 450px;
    height: 220px;
    background-color: #fff;
    border-radius: 5px;
}

.slide-container > p {
    text-align: center;
    font-weight: 600;
    margin-top: 100px
}