body, html{ 
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #E4E4E4;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 20px;
}
img{
    height: 180px;
    width: 180px;
    max-width: 100%;
    
}

.form-container {
   
    background-color: #D9D9D9;

    width: 300px;
    height: 450px;

    font-size: 16px;
    border-radius: 2px;
   
    max-width: 100%;
    padding: 20px;
}
.form-group{
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    
    gap: 18px;
    margin-top: 8px;

    border-radius: 2px;
    border-style: none;
   color:#151414;;
   
 
}


button{
    background-color:#D91E1E;
    cursor: pointer;

    margin-top: 18px;
    
}

div{
    padding: 12px;
}

 input, button{
    
    border-style: none;
    padding: 10px;
    border-radius: 3px;
font-size: 14px;


    
 }
 input:focus{
    outline: none;
    border:2px solid #D91E1E;
 }
button:hover{
    background-color: #D9D9D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
  }

  p{
    color: #D91E1E;
    font-size: 12px;
    
  }