
.categorias{
    display: flex;
   justify-content: left;
   flex-direction: row;
   
}
.categoriasi-header{
   display: flex;
   justify-content: flex-start;
}

.categorias-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 450px;
}

.categorias-grid {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    gap: 50px;
    justify-content: center;

    padding-top:60px ;
}

.categoria-card {
    background-color: rgb(217,30,30);
    color:rgb(0,0,0);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 125px;
    height: 112px;
  }
.categoriasBack{
    align-items:self-start;
    margin-left: 35px;
    margin-top: 30px;
    width: 30px;
  }
  